<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signature</title>
    <link rel="stylesheet" type="text/css" href="underskrift.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>🔥🔥🔥🔥🔥🔥➡️➡️📜
   
    <div id="app" class="container"> 
        <div><canvas id="sig"></canvas>
        </div>
    </div>
    
    <div>
      <input type="text" id="text" placeholder="skriv navn på lære"required>
        <button type="button" class="gem" id="gemSig">gem</button>
        <button type="button" class="slet" id="sletSig">slet</button>
        

    </div>

    <div class="parent">
      <div class="child2">
          <p id="titleK">Ordre</p>
          <select name="kurv" id="kurvList" multiple>
   
          </select>
          <button id="tilfoejProduktG" onclick="">Tilføj</button>
          <button id="tilfoejProduktG">Slet</button>
      </div>
    <div id="content"> 
      <div class="parent">
        <div class="child1">
            <p id="titleP">OrdreLinjer</p>
            <select name="kurv" id="produktList" multiple>
            </select>
        </div class="child1">
      </div>
      </div>
     
    <div id="image"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha512-cLuyDTDg9CSseBSFWNd4wkEaZ0TBEpclX0zD3D6HjI19pO39M58AgJ1SjHp6c7ZOp0/OCRcC2BCvvySU9KJaGw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script> 
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>    
    <script type="module">
let count =0;
var signaturePad
var canvas;
function setupSigBox(){
 canvas = document.querySelector("canvas");

 signaturePad = new SignaturePad(canvas);
}
document.addEventListener("DOMContentLoaded",setupSigBox);

function clearSig(){
   signaturePad.clear()
}
document.getElementById("sletSig").addEventListener("click",clearSig)
// gem funktion skal håndteres af express før den virker rigtig 
var button= document.getElementById("gemSig")
  button.onclick=()=>{
  let count=0;
  var text=document.getElementById("text").value
  var imageData= signaturePad.toDataURL();
  var doc = new jsPDF()
  doc.setFontSize(40)
  doc.text("Lærer navn: "+text,40,40)
  doc.addImage(imageData,"JPEG",15,40,180,180)
  for(let k of kurv){
    doc.text(k,40+count,40+count)
    count+=10;
    let splitter= kurv[i].value;
    splitter.split(" ");
    let total=splitter;
    doc.text(total,60,180)
  }
  doc.save(`underskrift ${text}.pdf`)
}
                        
</script>

</body>
</html>